{
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jasmine": true,
  },
  "plugins": ["jasmine"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    quotes: ["error", "single"],
    quote-props: ["error", "as-needed"],
    "semi": 2,
    "padded-blocks": ["error","never"],
    eqeqeq: 2
  }
}
